<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ 'assets/css/bootstrap.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ 'assets/main.css' | relative_url }}">
  <script src="{{ 'assets/js/webtorrent.min.js' | relative_url }}"></script>
  <script src="{{ 'assets/js/torrent_manager.js' | relative_url }}"></script>
  <title>{{ site.title }}</title>
</head>