<!DOCTYPE html>
<html>

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="main-wrappepr">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
    
    <script src="{{ 'assets/js/jquery-3.3.1.min.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/webtorrent.min.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/torrent_manager.js' | relative_url }}"></script>
  </body>

</html>
